<h1><%= @author.name %></h1>
<% @author.books.each do |book| %>
  <section id = "book-<%= book.id %>">
    <p><%= book.title %></p>
  </section>
<% end %>
<h3>Average Page Count: <%= @author.page_count(@author.id) %> Pages</h3>
